@page
@model WebGraph.Models.Record
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>The Booked Novel-Remind List:</h1>
<form method="post">

    <table class="table">
        <thead>
            <th>NovelName</th>
            <th>Url</th>
            <th>LastChapter</th>
        </thead>
    </table>
    <a asp-page="Create">BookNew</a>
</form>
